In [16]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import time

In [19]:
%cd F:/coding/projects/cowin/smart-jab-data

F:\coding\projects\cowin\smart-jab-data

In [32]:
df = pd.read_csv("F:/coding/projects/cowin/smart-jab-data/centers_top100_hesitancy.csv")

In [33]:
df

,Unnamed: 0,Center Name,Center ID,District,District ID,PIN Code,State,Paid/Free,Minimum Age,Vaccine,...,22-Oct,23-Oct,24-Oct,25-Oct,26-Oct,27-Oct,28-Oct,29-Oct,30-Oct,31-Oct
0,0,GCVC - ENUGUPALEM PHC-2ND DOSE,600081,Guntur,5,522649,Andhra Pradesh,Free,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,GCVC - PONNURU UFWC,715288,Guntur,5,522124,Andhra Pradesh,Free,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,GCVC - MALLIKARJUNAPETA UPHC,583843,Guntur,5,522002,Andhra Pradesh,Free,45,COVAXIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,GCVC - GURAZALA CHC,599651,Guntur,5,522415,Andhra Pradesh,Free,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,GCVC - KAKUMANU PHC-2ND DOSE,600023,Guntur,5,522112,Andhra Pradesh,Free,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15710,15704,IQCityMCH-Kol,725010,Kolkata,725,700054,West Bengal,Paid,18,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15711,15705,School Of Tropical Medicine CO,676442,Kolkata,725,700073,West Bengal,Free,45,COVAXIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15712,15706,BELLE VUE CLINIC,569021,Kolkata,725,700014,West Bengal,Paid,18,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15713,15707,SURAKSHA ELGIN,729865,Kolkata,725,700020,West Bengal,Paid,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15714,15708,SURAKSHA Kalikapur,729750,Kolkata,725,700073,West Bengal,Paid,45,COVISHIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
def roundup(x):
    return int(math.ceil(x / 100.0)) * 100

In [35]:
for index, row in df.iterrows():
    currentDoseCapacity = df.loc[index, "Dose Capacity"]
    df.loc[index, "Dose Capacity"] = roundup(currentDoseCapacity)

In [36]:
df.to_csv("./centers_top100_hesitancy.csv")