In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import time

In [1]:
%cd F:/coding/projects/cowin/smart-jab-data

F:\coding\projects\cowin\smart-jab-data

In [43]:
cityDoseCapacity18: {}

In [39]:
df = pd.read_csv("./data/store/25/centers_top25.csv")

In [40]:
df

,Center Name,Center ID,District,District ID,PIN Code,Paid/Free,Minimum Age,Vaccine,Dose Capacity,Predicted Time Range,...,22-Oct,23-Oct,24-Oct,25-Oct,26-Oct,27-Oct,28-Oct,29-Oct,30-Oct,31-Oct
0,APOLLO HOSPITAL SHESHADRIPURAM,604866,BBMP,294,560020,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KANVA DIAGNOSTIC1,568298,BBMP,294,560010,Paid,18,COVISHIELD,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APOLLO HOSPITAL 1,566035,BBMP,294,560076,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ST THERESAS HOSPITAL,615727,BBMP,294,560010,Paid,18,COVISHIELD,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apollo Clinic Indiranagar,636194,BBMP,294,560038,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,Fortis Escort Red Bldg Site 4,706727,South East Delhi,144,110025,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,Indraprastha Apollo Site 1,561076,South East Delhi,144,110044,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,Ayushman Hospital Health S,562762,South West Delhi,150,110078,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,Aakash Healtcare,561060,South West Delhi,150,110078,Paid,18,COVISHIELD,200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,Human Care Medical Charitable,561056,South West Delhi,150,110077,Paid,18,COVISHIELD,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
stateDoseCapacity188

In [38]:
def roundup(x):
    return int(math.ceil(x / 100.0)) * 100

In [35]:
for index, row in df.iterrows():
    currentDoseCapacity = int(df.loc[index, "Dose Capacity"])

In [36]:
df.to_csv("./centers_top100_hesitancy.csv")